:root {
    --shadow-color: 218deg 78% 25%;
    --shadow-elevation-low:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.52),
      0.5px 0.9px 1.2px -1.2px hsl(var(--shadow-color) / 0.52),
      1.3px 2.5px 3.2px -2.5px hsl(var(--shadow-color) / 0.52);
    --shadow-elevation-medium:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.55),
      1px 1.9px 2.4px -0.8px hsl(var(--shadow-color) / 0.55),
      2.5px 5.1px 6.4px -1.7px hsl(var(--shadow-color) / 0.55),
      6.3px 12.5px 15.7px -2.5px hsl(var(--shadow-color) / 0.55);
    --shadow-elevation-high:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.51),
      2.1px 4.1px 5.2px -0.4px hsl(var(--shadow-color) / 0.51),
      4px 7.9px 10px -0.7px hsl(var(--shadow-color) / 0.51),
      6.6px 13.2px 16.6px -1.1px hsl(var(--shadow-color) / 0.51),
      10.6px 21.2px 26.7px -1.4px hsl(var(--shadow-color) / 0.51),
      16.7px 33.4px 42px -1.8px hsl(var(--shadow-color) / 0.51),
      25.4px 50.8px 63.9px -2.1px hsl(var(--shadow-color) / 0.51),
      37.5px 75px 94.3px -2.5px hsl(var(--shadow-color) / 0.51);
  }
  .shadow-elevation-low {
    box-shadow: var(--shadow-elevation-low);
  }
  
  .shadow-elevation-medium {
    box-shadow: var(--shadow-elevation-medium);
  }
  
  .shadow-elevation-high {
    box-shadow: var(--shadow-elevation-high);
  }
.gradient {
    background-image: linear-gradient(
        220deg,
        rgb(110, 22, 182) 0%,
        hsl(265deg 66% 44%) 6%,
        hsl(257deg 55% 48%) 12%,
        hsl(249deg 50% 52%) 18%,
        hsl(241deg 49% 57%) 24%,
        hsl(235deg 50% 59%) 29%,
        hsl(230deg 52% 59%) 35%,
        hsl(224deg 54% 60%) 41%,
        hsl(219deg 56% 61%) 47%,
        hsl(213deg 57% 62%) 53%,
        hsl(207, 58%, 63%) 59%,
        hsl(201deg 59% 65%) 65%,
        hsl(195deg 60% 67%) 71%,
        hsl(190deg 61% 68%) 76%,
        hsl(185deg 63% 70%) 82%,
        hsl(180deg 65% 72%) 88%,
        hsl(176deg 67% 74%) 94%,
        hsl(171deg 69% 76%) 100%
      );
  }
  

  .container {
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
